version: '3.8'

services:
  # 1. API 서버 컨테이너 정의 (FastAPI 웹 서비스)
  api:
    build: .
    container_name: g2b_project-api-1
    command: uvicorn app:app --host 0.0.0.0 --port 8000

    # 외부 포트 80을 내부 컨테이너 포트 8000으로 연결
    ports:
      - "80:8000"

    # RDS 환경 변수 파일 사용
    env_file:
      - .env

    # 로컬 코드 변경 시 컨테이너 내부에도 반영
    volumes:
      - .:/app

    # 컨테이너 자동 재시작
    restart: always

